[Unit]
Description=identity-harmonization
After=syslog.target

[Service]
User=idh
ExecStart=/var/lib/identity-harmonization/identity-harmonization-2.0.jar
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
