<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>SAML Access</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div>
		<textarea rows="24" cols="24" th:inline="text">[[${samlResponse}]]</textarea>
		<textarea rows="24" cols="72" th:inline="text">[[${decodedAuthnRequestXML}]]</textarea>
	</div>
	<div>
		<textarea rows="24" cols="96" th:inline="text">[[${Assertion}]]</textarea>
	</div>
	<div>
		<p th:text="'IssueInstant '+ ${IssueInstant}" />
		<p th:text="'ProviderName '+ ${ProviderName}" />
		<p
			th:text="'AssertionConsumerServiceURL '+ ${AssertionConsumerServiceURL}" />
		<p th:text="'ID '+ ${ID}" />
		<p th:text="'IV ' + ${iv}" />
		<p th:text="'Key ' + ${key}" />
		<p th:text="'Encrypted ' + ${encassertion}" />
		
			<a href="/" th:href="@{'/assertions/'+${file}(key=${key})}">Get assertion</a>
		<p th:text="${delegate}" />
	</div>
</body>
</html>